VoIPApp/VoIPApp.Common/Service References/ServerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SharedCode.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServerService_Call_InputMessage">
    <wsdl:part name="parameters" element="tns:Call" />
  </wsdl:message>
  <wsdl:message name="IServerService_CancelCall_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCall" />
  </wsdl:message>
  <wsdl:message name="IServerService_AcceptCall_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptCall" />
  </wsdl:message>
  <wsdl:message name="IServerService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IServerService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IServerService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServerService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IServerService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_ReplyToFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplyToFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnCall_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCall" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnCallAccepted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallAccepted" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnCallCancelled_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallCancelled" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnFriendStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnFriendshipRequested_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendshipRequested" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnFriendshipRequestAnswered_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFriendshipRequestAnswered" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServerService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/SendMessage" message="tns:IServerService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Call">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Call" message="tns:IServerService_Call_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CancelCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/CancelCall" message="tns:IServerService_CancelCall_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AcceptCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/AcceptCall" message="tns:IServerService_AcceptCall_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Subscribe" message="tns:IServerService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/SubscribeResponse" message="tns:IServerService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Unsubscribe" message="tns:IServerService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Register" message="tns:IServerService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/RegisterResponse" message="tns:IServerService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/SendFriendRequest" message="tns:IServerService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/SendFriendRequestResponse" message="tns:IServerService_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReplyToFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/ReplyToFriendRequest" message="tns:IServerService_ReplyToFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnMessageReceived" message="tns:IServerService_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnCall">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnCall" message="tns:IServerService_OnCall_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnCallAccepted">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnCallAccepted" message="tns:IServerService_OnCallAccepted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnCallCancelled">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnCallCancelled" message="tns:IServerService_OnCallCancelled_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnFriendStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnFriendStatusChanged" message="tns:IServerService_OnFriendStatusChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnFriendshipRequested">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnFriendshipRequested" message="tns:IServerService_OnFriendshipRequested_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnFriendshipRequestAnswered">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnFriendshipRequestAnswered" message="tns:IServerService_OnFriendshipRequestAnswered_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IWebsocketService" />
  <wsdl:binding name="NetTcpBinding_IServerService" type="tns:IServerService">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServerService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Call">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Call" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelCall">
      <soap12:operation soapAction="http://tempuri.org/IServerService/CancelCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AcceptCall">
      <soap12:operation soapAction="http://tempuri.org/IServerService/AcceptCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IServerService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplyToFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IServerService/ReplyToFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCall">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnCall" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallAccepted">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnCallAccepted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCallCancelled">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnCallCancelled" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnFriendStatusChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendshipRequested">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnFriendshipRequested" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFriendshipRequestAnswered">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnFriendshipRequestAnswered" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IWebsocketService" type="tns:IWebsocketService">
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="NetTcpBinding_IServerService" binding="tns:NetTcpBinding_IServerService">
      <soap12:address location="net.tcp://localhost:7999/VoIPServer/ServerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7999/VoIPServer/ServerService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_IWebsocketService" binding="tns:CustomBinding_IWebsocketService">
      <soap12:address location="ws://localhost:7998/VoIPServer/WebsocketService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>