VoIPApp/VoIPApp.Common/Service References/ServerServiceReference/ServerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IServerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10000/VoIPServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10000/VoIPServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10000/VoIPServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedCode.Models" />
      <xsd:import schemaLocation="http://localhost:10000/VoIPServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IServerService_Call_InputMessage">
    <wsdl:part name="parameters" element="tns:Call" />
  </wsdl:message>
  <wsdl:message name="IServerService_Call_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_AddFriendByName_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendByName" />
  </wsdl:message>
  <wsdl:message name="IServerService_AddFriendByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IServerService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IServerService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServerService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnCall_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCall" />
  </wsdl:message>
  <wsdl:message name="IServerService_OnCall_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCallResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServerService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/SendMessage" message="tns:IServerService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Call">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Call" message="tns:IServerService_Call_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/CallResponse" message="tns:IServerService_Call_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddFriendByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/AddFriendByName" message="tns:IServerService_AddFriendByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/AddFriendByNameResponse" message="tns:IServerService_AddFriendByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Subscribe" message="tns:IServerService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/SubscribeResponse" message="tns:IServerService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Unsubscribe" message="tns:IServerService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Register" message="tns:IServerService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/RegisterResponse" message="tns:IServerService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnMessageReceived" message="tns:IServerService_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnCall">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/OnCall" message="tns:IServerService_OnCall_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/OnCallResponse" message="tns:IServerService_OnCall_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IServerService" type="tns:IServerService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IServerService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IServerService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Call">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Call" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriendByName">
      <soap12:operation soapAction="http://tempuri.org/IServerService/AddFriendByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IServerService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCall">
      <soap12:operation soapAction="http://tempuri.org/IServerService/OnCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="WSDualHttpBinding_IServerService" binding="tns:WSDualHttpBinding_IServerService">
      <soap12:address location="http://localhost:10000/VoIPServer/ServerService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:10000/VoIPServer/ServerService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>