VoIPApp/VoIPApp.Common/Service References/ServerServiceReference/VoIPServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10000/VoIPServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedCode.Models" />
  <xs:import schemaLocation="http://localhost:10000/VoIPServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedCode.Models" minOccurs="0" name="msg" nillable="true" type="q1:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Call">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="receiver" type="q2:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFriendByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedCode.Models" minOccurs="0" name="AddFriendByNameResult" nillable="true" type="q3:Friend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="SubscribeResult" type="q4:ObjectId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedCode.Models" minOccurs="0" name="msg" nillable="true" type="q5:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SharedCode.Models" minOccurs="0" name="id" nillable="true" type="q6:Friend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>